@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";
@import '@angular/cdk/overlay-prebuilt.css';

body {
    min-height: 100vh;
    font-family: 'Arial', 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    body {
        padding-top: 80px;
    }
}

.cdk-overlay-container {
    z-index: 1050;
}

[id^="cdk-overlay-"] > lightbox > gallery {
    background-color: white;
}

input.form-control:focus {
    outline: none;
    box-shadow: none;
}