#office {
    cursor: pointer;
}

.btn {
    width: 45%;
    color: white;
}

@media (max-width: 768px) {
    .summary-heading {
        margin-top: 16px;
    }
}

.table tr {
    height: 58px;
}

.table th, .table td {
    vertical-align: middle;
}

.price-th, .price-td {
    text-align: right;
}

.table .title {
    font-size: small;
}

.table .quantity {
    font-weight: bold;
    font-size: x-small;
}

.table .total {
    font-weight: bold;
    font-size: larger;
}

.table .total-price {
    text-align: right;
    font-weight: bold;
    font-size: x-large;
    color: rgb(192, 41, 39);
    white-space: nowrap;
}